.promotionform {
  font-family: "sans-serif";
  border: 1px black solid;
  padding: 10px;
  width: 550px;
  height: 900px;
  margin-left: 28%;
  box-sizing: border-box;
}
.maintopicform {
  font-size: 40px;
  text-align: center;
  color: #34251f;
}
.addpromoform {
  margin-left: 10px;
  margin-bottom: 10px;
}
.columnlpromo {
  float: left;
  width: 50%;
}
.columnrpromo {
  float: right;
  width: 50%;
}
.addpromotopic {
  margin-top: 10px;
  color: #34251f;
}
.addpromolabel {
  color: #34251f;
  font-size: 20px;
}
.addpromoinput {
  margin-top: 2px;
  margin-bottom: 10px;
  font-size: 18px;
  width: 510px;
  height: 20px;
}
.addpromoinputON {
  color: #34251f;
  font-size: 18px;
  width: 510px;
  height: 90px;
  border: 2px solid #917236;
}
.addpromoinputC {
  color: #34251f;
  font-size: 18px;
  width: 510px;
  height: 90px;
  border: 2px solid #917236;
}
.addpromoinputradio {
  margin-top: 5px;
  margin-left: 20px;
}
.typeradio {
  font-size: 18px;
  margin-left: 5px;
}
.submitnewpromo {
  background-color: #34251f;
  color: white;
  padding: 5px;
  width: 350px;
  height: 40px;
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
  border-radius: 4px;
}
.submitnewpromo:hover {
  color: Gold;
}
.asterix {
  color: red;
}
.formbutton {
  margin-top: 30px;
  text-align: center;
}
.formerror {
  margin-top: 20px;
  padding: 5px;
  background-color: red;
  font-size: 20px;
  text-align: center;
  width: 500px;
}
