.promotion {
  font-family: "sans-serif";
}
.promotopic {
  text-align: center;
  color: #34251f;
  font-size: 40px;
}
.promotable {
  /* border: 1px solid black; */
  width: 93%;
  text-align: center;
  font-weight: 500;
  background-color: white;
  border-spacing: 0;
  margin-left: 10px;
  margin-bottom: 10px;
}
.promohead {
  font-size: 18px;
  background-color: #917236;
  color: white;
  height: 40px;
  font-size: 20px;
}
.promotbody {
  font-size: 20px;
}
.addnewpromo {
  background-color: #34251f;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  height: 40px;
  font-weight: 500;
  font-size: 18px;
  padding: 5px;
  color: white;
  border-radius: 4px;
}
.addnewpromo:hover {
  border-right: 5px solid Gold;
  color: Gold;
}

.generatereport {
  background-color: #34251f;
  height: 40px;
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  right: 15px;
  bottom: 10px;
  padding: 5px;
  color: white;
  border-radius: 4px;
}
.generatereport:hover {
  border-left: 5px solid Gold;
  color: Gold;
}
.promoStatusActive {
  font-size: 18px;
  width: 100%;
  height: 30px;
  border: none;
  margin: 0;
  padding: 5px;
  background-color: greenyellow;
}
.promoStatusInactive {
  font-size: 18px;
  width: 100%;
  height: 30px;
  border: none;
  margin: 0;
  padding: 5px;
  background-color: red;
}
.Editicon {
  color: #34251f;
}
.Editicon:hover {
  color: green;
}
.deleteicon {
  color: #34251f;
}
.deleteicon:hover {
  color: red;
}
.searchpromo {
  margin-top: 10px;
  height: 30px;
  width: 200px;
  position: absolute;
  right: 10px;
  font-size: 15px;
}
.searchpromobutton {
  margin-top: 10px;
  height: 34px;
  width: 34px;
  position: absolute;
  right: 10px;
}

input[type="text"] {
  width: 250px;
  height: 35px;
  box-sizing: border-box;
  border: "none";
  border-radius: "none";
  font-size: 15px;
  background-color: white;
  background-position: "none";
  background-repeat: "none";
  padding: "none";
  transition: "none";
}

input[type="text"]:focus {
  width: 250px;
}
