.topcontainer {
  margin-right: auto;
  margin-left: auto;
  border-style: solid;
  width: 900px;
  font-size: 20px;
}

.addreview {
  width: 100%;
  height: 5vh;
  background-color: #34251f;
  color: white;
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 20px;
}

.ratingReview {
  margin-left: 10px;
}

.addReviewbutton {
  margin-top: 20px;
  height: 50px;
  background-color: #34251f;
  color: white;
  font-weight: 500;
  margin-left: 760px;
  margin-bottom: 10px;
  font-size: 18px;
  padding: 5px;
  border-radius: 4px;
}
.addReviewbutton:hover {
  border-left: 5px solid Gold;
  color: Gold;
}

.addreviewlabel {
  margin-left: 10px;
  margin-bottom: 10px;
}
.textfield {
  width: 878px;
  margin-left: 10px;
  font-size: 16px;
}

.stars {
  margin-left: 10px;
}
