.searchproductID {
  margin-top: 10px;
  height: 30px;
  width: 200px;
}
.searchproductIDbutton {
  margin-top: 10px;
  height: 35px;
  width: 34px;
  position: absolute;
}
.searchReport {
  position: absolute;
  height: 34px;
  width: 34px;
  margin-top: 10px;
}
