.review {
  font-family: "sans-serif";
}
.reviewtopic {
  text-align: center;
  color: #34251f;
  font-size: 40px;
}
.reviewtable {
  /* border: 1px solid black; */
  width: 93%;
  text-align: center;
  font-weight: 500;
  background-color: white;
  border-spacing: 0;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 60px;
}
.reviewtablehead {
  font-size: 18px;
  background-color: #917236;
  color: white;
  height: 40px;
  font-size: 20px;
}
.actions {
  width: 200px;
}
.reviewtablebody {
  font-size: 20px;
}

.generatereport {
  background-color: #34251f;
  height: 40px;
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  right: 15px;
  bottom: 10px;
  padding: 5px;
  color: white;
  border-radius: 4px;
}
.generatereport:hover {
  border-left: 5px solid Gold;
  color: Gold;
}

.deleteicon {
  color: #34251f;
}
.deleteicon:hover {
  color: red;
}
.searchreview {
  margin-top: 10px;
  height: 30px;
  width: 200px;
  position: absolute;
  right: 10px;
  font-size: 15px;
}
.searchreviewbutton {
  margin-top: 10px;
  height: 34px;
  width: 34px;
  position: absolute;
  right: 10px;
}
